$form-bg-color = #f5f5f7
$input-border-color = rgba(149, 148, 146, .5)
$text-color = #919498
$white = #fff
$error-text-color = #ea0000

$submit-button-color = #74bb0f
$submit-button-gradient = linear-gradient(180deg, #74bb0f 0%, #64A905 100%)
$submit-button-disabled-color = #808080

$input-border-focus-shadow = 0px 0px 5px 0px rgba(56, 143, 240, 0.97)
$input-border-focus-error-shadow = 0px 0px 5px 0px rgba(234, 0, 0, 0.97)
