@media screen and (max-width 25em)

    input
        max-width none

    .caption
        display block

    .validation-error-text
        max-width none
        text-align left

    #card-exp-date .validation-error-text
        left 0
        right 0
        min-width 28em

    .input-block
        width 100%
