$form-bg-color = #fff

$input-border-color = #B5B5B5
$input-border-focus-error = #f43b3a

$text-color = #fff
$text-label = #ffffffcf;
$text-placeholder = #757575;


$white = #fff
$error-text-color = #f43b3a

$submit-button-color = #66d771
$submit-button-disabled-color = #d8d8d8

$error-text-box-shadow = 0 0 11px 0 rgba(0, 0, 0, 0.6)
$error-text-shadow-top = 0 -3px 3px rgba(0,0,0,.2)
$error-text-shadow-bottom = 0 3px 3px rgba(0,0,0,.2)

