$form-bg-color = #fff

$input-border-color = #B5B5B5
$input-border-focus-error = #f43b3a
$input-border-radius = 10px
$input-background = #f1f2f3

$text-color = #000
$text-label = #0000009e
$text-placeholder = #aab2bd;

$white = #fff
$error-text-color = #ff0000

$submit-button-color = #5286f8
$submit-button-focus-color = #447dfb
$submit-button-disabled-color = #e6e9ed
$submit-button-disabled-color-text = #aab2bd
