logo($name)
    background url("img/" + $name + ".png") no-repeat center / contain

$card-logo
    display table-cell
    height 22px
    padding 0

    &:before
        content ''
        display block
        height 100%
        width 100%

    &:not(:last-child)
        margin-right 0

card-logo($card-name)
    .{$card-name}
        @extend $card-logo
        logo($card-name)


$cards = "visa", "master-card", "maestro", "discover"

for $card in $cards
    card-logo($card)

.card-brands
    padding 10px 80px 10px 0
    text-align center
    width 270px

    margin 0 auto
    display table
    table-layout fixed

