$form-bg-color = #fff

//$input-border-color = #B5B5B5
$input-border-focus-error = #ff0000

$text-color = #000
$text-label = #aab2bd
$text-placeholder = #aab2bd

$input-background = #f1f2f3
$input-border-radius = 10px

$error-text-color = #ff0000

$submit-button-color = #f8bc69;
$submit-button-focus-color = #f4b8c64;
$submit-button-disabled-color = #d8d8d8;


